body {
    background-color: black !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.text {
    text-align: center;
    color: white
}

p {
    text-align: center;
}

a {
    color: aquamarine;
    font-size: larger;
}