body {
    background-color: black !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center
}

.text {
    text-align: center;
}

h1 {
    color: white;
    font-weight: normal;
    font-size: 50px;
}

p {
    text-align: center;
}

a {
    color: aquamarine;
    font-size: larger;
}

video {
    width: 404;
    height: 720;
}

h2 {
    color: white;
    font-weight: 300px;
    font-size: 40;
}

h3 {
    color: gray;
    font-size: 21;
}

.campsite {
    width: 896;
    height: 527
}

.app {
    width: 64;
    height: 108;
    color: white;
}


}