body {
    background-color: black !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center
}

.text {
    text-align: center;
}

h1 {
    color: white;
    font-weight: normal;
    font-size: 50px;
}

p {
    text-align: center;
}

a {
    color: aquamarine;
    font-size: larger;
}

video {
    width: 404;
    height: 720;
    /* text-align: center; */
}